<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Найди свой рецепт!</title>
		
		<link rel="shortcut icon" href="http://s1.iconbird.com/ico/2013/8/428/w256h2561377930298catwalk.png" type="image/x-icon">
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
		
		<script src="{{ url_for('static', filename='js/libs/jquery-v1.11.1.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/handlebars-v1.3.0.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ember-v1.6.1.js') }}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
		<script src="{{ url_for('static', filename='js/app1.js') }}"></script>
		
	</head>
	<body>
		{% raw %}
		<script type="text/x-handlebars">
			<div class="heads">
				<h1 class="head">Найди свой рецепт!</h1>

				{{outlet}}
			</div>		
		</script>
		
		<script type="text/x-handlebars" id='home'>
			<h3 class="hi">Приветствуем Вас, знатоки кулинарных изысков!</h3>
			<h3 class="hi">Наше приложение обогатит Ваше познание в мире вкусов.</h3>
			<h3 class="hi">Мы поможем Вам приготовить из обыденных продуктов нечто новое и очень вкусное ;) </h3>
			<button type="button" class="btn btn-info startSearch">{{#link-to 'ingredients'}}К делу!{{/link-to}}</button>
		</script>
		
		<script type="text/x-handlebars" id="ingredients">
			<h3 class="hi">Скажите нам, какие продукты у Вас есть, и наш сервис подберёт для Вас подходящий рецепт.</h3>
			<div class="inputIngredient">
				{{input type="text" class="form-control" placeholder="Введи ингредиент..." autofocus="autofocus" action="enter" size="50"}}
				<div class="selectIngredient">	
				</div>
				<button type="button" class="btn btn-info startSearch" {{ action "doSomething"}}>Начать поиск!</button>
			</div>
		</script>

		<script type="text/x-handlebars" id='recipes'>
			<h3 class="hi">Ниже Вы увидете результат Вашего запроса.</h3>
		</script>
		
		<script type="text/x-handlebars" id='photos'>
			{{#each}}
				<h1>{{title}}</h1>
				<img {{bind-attr src=url}}>
			{{/each}}
		</script>
		{% endraw %}
	</body>
</html>