<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ember.js • TodoMVC</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/handlebars.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ember.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ember-data.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        </body>
</html>